body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00aaff, #2bff00);
  text-align: center;
  font-family: sans-serif;
}

img {
  width: 20%;
  border-style: solid;
  border-radius: 100%;
  border-color: rgb(10, 168, 207);
  border-width: medium;
}

#border {
  border-style: solid;
  border-width:thick;
  border-top-color: limegreen;
  border-right-color: rgb(0, 247, 255);
  border-bottom-color: skyblue;
  border-left-color: lime;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  padding: 20px;
}

h1 {
  font-weight: bold;
}

#JavaScript, #Python, #Ruby {
  display: none;
}

#StartBtn {
  margin-top: 20px;
}

.form-control {
  text-align-last: center;
  
}

#introshowhide {
  display: show;
}